.header{

}

.header__top{
    background-color: #3b84b0;
    font-size: 13px;
    color:#f2f7fa;
    text-transform: uppercase;
    padding:10px;
    font-family: 'arialMT';
}

.header__bottom{
    background-image: url('../images/bg_headerBottom.jpg') ;
    background-size:cover; 
    padding: 15px 0;
}

.header__bottom h2{
    margin-top:0;
    margin-bottom: 0;
    color:#ffffff;
    font-family:'openSans' ;
    text-transform: uppercase;
    font-size: 35px;
    padding-bottom:15px;
    text-shadow: 0 1px 2px rgb(45, 45, 45);
}

.headerBottom__info{

}

.headerBottom__info ul {
    margin:0;
    padding:0;
    list-style: none;
}

.headerBottom__info ul li{
    margin-bottom: 10px;
    font-family:'openSans' ;
    font-size: 14px;
    color: #ffffff;
    text-shadow: 0 1px 2px rgb(106, 105, 105);
}

.headerBottom__info ul li:last-child{
    margin-bottom: 0;
}