nav{
    background-color: #222326;
}

.nav__menu{
  width: 75%;
}

.nav__menu ul{
    list-style: none;
    margin:0;
    padding:0; 
    display: flex;
}

.nav__menu ul li{

}

.nav__menu ul li a{
    color:#f6f6f6;
    text-decoration: none;
    font-family: 'openSansRegular';
    font-size: 13px;
    padding: 17px 30px;
    display: block;
}

.nav__menu ul li a:hover{
    background-color: #696969;
}


.nav__menu ul li.active a{
    background-color: #696969;
}

.nav__search{
   height: 27px;
   width: 243px;
   background-color: white;
   margin-top: 10px;
   border-radius: 5px;
   position: relative;
   margin-left: 50px;
  
}

.nav__search input{
    height: 25px;
    width: 238px;
    border-radius: 5px;
}

.nav__search i{
    position: absolute;
    top:0;
    right: 0;
    margin-top: 7px;
    margin-right: 10px;
}