@import url('header.css');
@import url('nav.css');
@import url('main.css');
@import url('footer.css');

body {
    margin: 0;
}

.container {
    width: 1170px;
    margin: auto;
}

.row {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}

.products{

}

.products__img{
}

.products__img img{
    width: 100%;
    height: 100%; 
}

.products h4{
    font-family: 'openSansSemibold';
    margin:0;
    padding:12px 0;
    border-bottom: 2px solid #a7a7a7;
}
@font-face {
    font-family: 'arialMT';
    src: url('../fonts/arialmt.ttf');
}

@font-face {
    font-family: 'openSans';
    src: url('../fonts/OpenSans-ExtraBold.ttf');
}

@font-face {
    font-family: 'openSansRegular';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'openSansSemibold';
    src: url('../fonts/OpenSans_Condensed-SemiBold.ttf');
}