.main__right {
    margin-left: 10px;
}

#slide {}

#slide img {
    width: 100%;
    height: 100%;
}

#content {}

#content h1 {
    font-family: 'openSans';
    font-size: 30px;
    color: red;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 24px;
}

#content p {
    font-family: 'arialMT';
    font-size: 15px;
    margin: 0 0 20px 0;
}

#content p a {
    font-family: 'arialMT';
    font-size: 15px;
    color: #0563ff;
}

#content p span {
    color: red;
}


#productsHome {}

.productHome__title {
    /*background-color: #3b84b0;*/
    background-color: #222326;
}

.productHome__title .row {
    align-items: center;
    justify-content: space-between;
}

.productHomeTitle__heading {
    background-color: #3b84b0;
    width: 30%;
    clip-path: polygon(0 0, 83% 0, 100% 100%, 0 100%);
}

.productHomeTitle__heading h2 {
    color: #f2f1f1;
    font-size: 16px;
    font-family: 'openSansRegular';
    padding-left: 22px;
}

.productHomeTitle__link {}

.productHomeTitle__link a {
    color: #f2f1f1;
    font-family: 'arialMT';
    font-size: 12px;
    text-decoration: none;
    padding-right: 12px;
}

.productHome__list {
    margin-top: 27px;
}

.products h3{
    background-color:#222326;
    color: white;
    font-family:'arialMT';
    font-weight: lighter;
    text-align: center;
    padding: 18px 0;
    margin:-3px 0 20px 0;
}

#test{
    padding-top:18px;
    padding-bottom:20px;
}

.products h3:hover{
    background-color: #3b84b0;
    cursor: pointer;
}