.main__left{
   width: 33%;
}

.aside__category{
   
}

.category__title{
    background-color:#3b84b0;   
}

.categoryTitle__icon{
    color:white;
    font-weight: bolder;
    font-size: larger;
    padding:21px 20px 20px 19px;
}

.categoryTitle__icon i{

}

.categoryTitle__heading{
    
}

.categoryTitle__heading h3{
    color:white;
    font-weight: lighter;
    padding-right: 20px;
    font-family: 'openSansRegular';
}

.category__list{

}

.category__list ul{
    list-style: none;
    padding:0;
    margin:0;
}

.category__list ul li{
    background-color: #f2f1f1;
}

.category__list ul li a{
    display: block;
    text-decoration: none;
    font-family: 'openSansSemibold';
    color: #393939;
    font-size: 13px;
    padding: 11px 0 12px 20px;
    border-bottom: 1px solid #ffffff;   
}

.category__list ul li a:hover{
    background-color:#464a51;
    color:white;
}

.aside__bestSeller{
    margin-top:18px;
}

.bestSeller__title{
    background-color:#3b84b0;   
}

.bestSellerTitle__icon{
    color:white;
    font-weight: bolder;
    font-size: larger;
    padding:21px 20px 20px 19px;
}

.bestSellerTitle__heading{

}

.bestSellerTitle__heading h3{
    color:white;
    font-weight: lighter;
    padding-right: 20px;
    font-family: 'openSansRegular';
}

.bestSeller__list{
    background-color: #f2f1f1;
    padding:11px 9px 11px 9px;
}

.bestSeller__list .products{
    margin-bottom:15px;
}

.bestSeller__list .products:last-child{
    margin-bottom:0;
}
